.ml10 {
    margin-left: 10px;
}

<<<<<<< HEAD
=======
.ml15 { margin-left: 15px; }

>>>>>>> remotes/origin/Ferry
.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.mr-3 {
    margin-right: 1rem !important;
}

<<<<<<< HEAD
.fs-20 {
    font-size: 20px;
=======
.mt10 { margin-top: 10px; }

.mt15 { margin-top: 15px; }

.p10 { padding: 10px; }

.p15 { padding: 15px; }

.fs-20 {
    font-size: 20px;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.cAYMhj {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    gap: 8px 12px;
}

.kdDMzH {
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    background-color: #ebeefd;
    padding: 0 16px;
}

.zJlDv {
    color: #061257;
    font-size: .9rem;
    letter-spacing: 0.35px;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: initial;
    padding: 6px 0;
}

.dTKxLf {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    -webkit-box-pack: center;
    border: none;
    padding: 8px 0;
    margin-left: 8px;
>>>>>>> remotes/origin/Ferry
}