.ml10 {
    margin-left: 10px;
}

.ml15 { margin-left: 15px; }

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.mr-3 {
    margin-right: 1rem !important;
}

.mt10 { margin-top: 10px; }

.mt15 { margin-top: 15px; }

.p10 { padding: 10px; }

.p15 { padding: 15px; }

.fs-20 {
    font-size: 20px;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.skill-layout {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    row-gap: 10px;
    column-gap: 12px;
}

.kdDMzH {
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    background-color: #ffdeff;
    padding: 0px 20px;
    font-weight: 500;
}

.skill-capsule {
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    background-color: #dce2ff;
    padding: 0px 20px;
    font-weight: 500;
}

.skill-title {
    color: #061257;
    font-size: .9rem;
    letter-spacing: 0.35px;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: initial;
    padding: 6px 0;
}

.skill-title {
    color: #283061;
    font-size: .9rem;
    letter-spacing: 0.4px;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: initial;
    padding: 5px 0;
}

.skill-rm-btn {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    -webkit-box-pack: center;
    border: none;
    padding: 8px 0;
    margin-left: 8px;
}