{% extends 'isit950/account_layout.html' %}

{% block body %}

<div style="width: 100%;">
    <div style="display: flex; flex-direction: column;">
        <div style="display: flex;">

            <div style="width: 100%; overflow: hidden; position: relative; top: 15px;">
                <form method="POST" class="fm-validation" action="{% url 'edit_profile' %}" novalidate
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div style="padding: 10px 0; font-size: 1.2rem; font-weight: 700">
                        <span>Profile Details</span>
                    </div>
                    <div style="padding: 10px 0px;">
                        <div style="width: 100%;">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="firstName" class="">First Name</label>
                                        <input name="firstName" value="{{ profile.first_name}}"
                                            placeholder="Enter your first name" type="text" class="form-control"
                                            disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="lastName" class="">Last Name</label>
                                        <input name="lastName" value="{{ profile.last_name}}"
                                            placeholder="password placeholder" type="text" class="form-control"
                                            disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6" style=>
                                    <div class="position-relative form-group">
                                        <label for="username" class="">@Username</label>
                                        <input name="username" value="{{ profile.username}}" type="text"
                                            class="form-control" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-8">
                                    <div class="position-relative form-group">
                                        <label for="description" class="">Describe yourself</label>
                                        <textarea class="form-control" name="description" rows="5"
                                            placeholder="Describe your skills, strength, and experience">{{ profile.description }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 10px 0; font-size: 1.2rem; font-weight: 700">
                        <span>Pictures</span>
                    </div>
                    <div style="padding: 10px 0px;">
                        <div style="width: 100%;">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="uploadProfile" class="">Upload Profile</label>
                                        <div style="border-radius: 50% !important; background-color: rgb(243, 243, 247); max-width: 70px; max-height: 70px;">
                                            {% if profile.img_profile %}
                                            <img id="profileImg" class="img-profile" src="/static/{{ profile.img_profile }}" alt="">
                                            {% else %}
                                            <img id="profileImg" class="img-profile" src="/static/images/user-default.png" alt="">
                                            {% endif %}
                                        </div>
                                        <div class="upload-btn-profile-overlay">
                                            <div class="upload-btn">
                                                <input type='file' name="imgProfile" onchange="changeImg(this,'profile');" class="uploadfile"/>
                                            </div>
                                            <div class="icon-pos-abs">
                                                <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="uploadBackground" class="">Upload Background Profile</label>
                                        <div>
                                            {% if profile.img_background %}
                                            <img id="bgImg" class="img-bg-profile" src="/static/{{ profile.img_background }}" alt="">
                                            {% else %}
                                            <img id="bgImg" class="img-bg-profile img-none">
                                            {% endif %}
                                        </div>
                                        <div class="upload-btn-bg-overlay">
                                            <div class="upload-btn">
                                                <input type='file' name="imgBg" onchange="changeImg(this,'bg');" class="uploadfile"/>
                                            </div>
                                            <div class="icon-pos-abs">
                                                <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 10px 0; font-size: 1.2rem; font-weight: 700">
                        <span>Skills</span>
                    </div>
                    <div style="padding: 10px 0px;">
                        <div style="width: 100%;">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <input id="skill" placeholder="Enter your skill" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10">
                                    <div class="position-relative form-group">
                                        <div style="border: 1px solid #e3e3e3; border-radius: 10px;">
                                            <div style="padding: 10px 20px; height: 150px;">
                                                <div class="skill-layout">
  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div style="padding: 10px 0; font-size: 1.2rem; font-weight: 700">
                        <span>Address</span>
                    </div>
                    <div style="padding: 10px 0px;">
                        <div style="width: 100%;">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="address">Location</label>
                                        <input value="{{ profile.address }}" id="location" name="location"
                                            placeholder="Enter your address" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: center; padding: 3rem 0;">
                        <button class="button btn-capsule btncancel-outline">Cancel</button>
                        <button class="button btn-capsule btnsave-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        const user = `{{request.user}}`
        getSkills(user)
    })

    $('#skill').keydown(function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            const token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
            const skill = document.getElementById('skill').value;
            
            fetch(`/api/my_skilllist/{{request.user}}`, {
                method: "POST",
                credentials: 'same-origin',
                headers: {
                    "X-CSRFToken": token,
                    "Content-Type": 'application/json'
                },
                body: JSON.stringify({
                    'skill': skill
                })
            })
            .then(response => response.json())
            .then(res => {
                if (res) {
                    document.getElementById('skill').value = "";
                    getSkills(`{{request.user}}`)
                    toastr.success('Add new skill', 'Success');
                } else {
                    alert("Cannot save");
                }
            })
            .catch(err => {
                alert(err)
            })
        }
    });

    function getSkills(user) {
        fetch(`/api/my_skilllist/${user}`)
        .then(response => response.json())
        .then(result => {
            document.querySelector(".skill-layout").innerHTML = "";
            
            for (let res of result) {
                var skill = document.createElement("div");
                skill.className = 'skill-capsule';
                skill.innerHTML = `
                    <span class="skill-title">${res.skill}</span>
                    <div class="skill-rm-btn" data-skill-id="${res.id}">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none">
                            <path d="M2.00065 9.16634L5.00065 6.16634L8.00065 9.16634L9.16732 7.99968L6.16732 4.99967L9.16732 1.99967L8.00065 0.833008L5.00065 3.83301L2.00065 0.833008L0.833984 1.99967L3.83398 4.99967L0.833984 7.99968L2.00065 9.16634Z"
                                fill="#061257"></path>
                        </svg>
                    </div>`;
                document.querySelector(".skill-layout").appendChild(skill);
            }
            
        })
    }



    $(document).on('click', '.skill-rm-btn', function(event) {
        var skillId = $(this).attr('data-skill-id');

        fetch(`/api/my_skilllist/{{request.user}}`, {
            method: 'DELETE',
            headers: {
                "Content-Type": 'application/json'
            },
            body: JSON.stringify({
                id: skillId
            })
        })
        .then(response => response.json())
        .then(result => {
            getSkills(`{{request.user}}`)
            toastr.error('Skill has been deleted successfully', 'Success');
        })

    });

    function changeImg(input, type) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                if (type == 'profile') {
                    $('#profileImg').attr('src', e.target.result);
                } else {
                    $('#bgImg').attr('src', e.target.result);
                }
                
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

{% endblock %}
