{% extends 'isit950/auth_layout.html' %}

{% block body %}
<style>
    .backToLogin {
	    position: relative;
    width: 100%;
    top: 60px;
    font-weight: 600;
    color: #6E27A3;
    display: block;
    text-decoration: none;
    text-align: center;
    }

    .sendyoulink__text {
        font-size: 20px;
        text-align: center;
    }

    .emailTxt {
        color:  #786E6E;

    }

</style>

<div class="test">
    <div class="container">
        <div style="display: flex;
        justify-content: center;
        height: 100vh;
        flex-direction: inherit;
        position: relative;
        padding-top: 120px;">
            
            <div class="fm-forget-pass">
                <div>
                    <h1>Forgot Password?</h1>
    
                    <h2 class="sendyoulink__text">We’ll send you a link to reset your password</h2>
                </div>
                <form method="post" action="{% url 'forgot_password' %}">
                    {% csrf_token %}
                    <div>
                        <label class="emailTxt">Email</label>
                        <input style="height: 50px;" type="text" class="form-control" name="email" size="30" placeholder="Enter your email address">
                    </div>
                    <div>
                        <button class="reset">Reset my password</button>
        
                        <a href="{% url 'login' %}" class="backToLogin"><b>Back to Login</b></a>
                    </div>
                </form>
                
            </div>  
            <div class="proceeding">
                <span><span><b>By proceeding, I agree to </b></span>
                    <br class="responsive" />
                    <button class="agreement"><b><u>Terms & Conditions</u></b></button>,
                    <button class="agreement"><b><u>Community Guildelines</u></b></button>,
                    <button class="agreement"><b><u>Privacy Policy</u></b></button></span>
    
            </div>  
            
        </div>

        
    </div>
</div>

    
{% endblock %}