{% extends 'isit950/auth_layout.html' %}

{% block body %}
<div style="padding: 0 20px;">
    <div style="text-align: center;">
        <span style="display: block; color: #6E27A3; font-weight: 700; font-size: 1.5rem;">Forgot Password?</span>
        <span>We'll send you a link to reset your password</span>
    </div>
    <div style="padding-top: 30px;">
        <form method="post" action="{% url 'forgot_password' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" placeholder="Enter your email address" style="height: 50px;">
            </div>
            
            <button type="submit" style="width: 100%; background: #6E27A3; border: 1px solid #7E7373; border-radius: 50px; 
                        margin: 0 auto; display: block; margin-top: 10px; height: 40px; color: #fff;">Reset my password</button>
        </form>
    
        <div style="position: relative; top: 30px; font-size: 15px; font-weight: 700; text-align: center;">
            <a href="{% url 'login' %}" style="margin-left:10px; color: #6E27A3; font-weight: 700;">Back to login</a>
        </div>
    </div>
</div>

{% endblock %}