{% extends 'isit950/auth_layout.html' %}

{% block body %}
<div style="padding: 0 20px;">
    <div style="text-align: center;">
        <span style="display: block; color: #6E27A3; font-weight: 700; font-size: 1.5rem;">Create Account</span>
    </div>
    <div style="padding-top: 30px;" style="color: #473d3d">
        <form method="post" action="{% url 'register' %}" novalidate>
            {% csrf_token %}
            <div class="mb-3" style="color: #473d3d">
                <label for="email" class="form-label">First Name</label>
                <input type="email" class="form-control" name="firstName1" placeholder="First Name" required>
            </div>
            <div class="mb-3" style="color: #473d3d">
                <label for="email" class="form-label">Last Name</label>
                <input type="email" class="form-control" name="lastName" placeholder="Last Name" required>
            </div>
            <div class="mb-3" style="color: #473d3d">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email Address" required>
            </div>
            <div class="mb-3" style="color: #473d3d">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="mb-3" style="color: #473d3d">
                <label for="confirmPassword" class="form-label">Password</label>
                <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password">
            </div>

            <button type="submit" style="width: 100%; background: #6E27A3; border: 1px solid #7E7373; border-radius: 50px; 
                        margin: 0 auto; display: block; margin-top: 10px; height: 40px; color: #fff;">Register</button>
        </form>

        <div style="display: flex; justify-content: center; margin-top: 10px;font-size: 15px; font-weight: 700;">
            <div class="noAccount" style="color: #6e6767;">Already have an account?</div>
            <a href="{% url 'login' %}" style="margin-left:10px; color: #6E27A3; font-weight: 700;">Sign In</a>
        </div>
    </div>
</div>

{% endblock %}