{% extends 'isit950/auth_layout.html' %}

{% block body %}

<div style="text-align: center;">
    <span style="display: block; color: #6E27A3; font-weight: 700; font-size: 1.5rem;">Reset my password</span>
</div>
<div style="padding-top: 30px;">

    {% if error %}
        <span style="text-align: center;display: block;margin: 10px 0;color: #c60909;font-size: 1.2rem;">{{ error }}</span>
    {% endif %}

    {% if not expired %}

    <form method="post" action="{% url 'reset_password' token %}">
        {% csrf_token %}
        <div class="mb-3">
            <label>New Password</label>
            <input style="height: 50px;" type="text" class="form-control" name="password" size="30" placeholder="Enter your new password">
        </div>
        <div class="mb-3">
            <label>Confirm Password</label>
            <input style="height: 50px;" type="text" class="form-control" name="confPassword" size="30" placeholder="Enter your new password">
        </div>
        <button type="submit" style="width: 100%; background: #6E27A3; border: 1px solid #7E7373; border-radius: 50px; 
                    margin: 0 auto; display: block; margin-top: 10px; height: 40px; color: #fff;">Reset Password</button>
    </form>
    {% else %}
    <div class="fmwra">
        <div class="lgfm-bd">
            <div class="fm-grp" style="text-align: center; font-size: 1.25rem; font-weight: 500;">
                <p>The link is expired. Please try to obtain new link to reset your password.</p>
            </div>
            <div class="sub-btn" style="text-align: center; padding-top: 15px;">
                <a class="btn-auth" href="{% url 'forgot_password' %}">Forgot Password </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}