{% extends 'isit950/auth_layout.html' %}

{% block body %}


<div class="test">
    <div class="container">
        <div style="display: flex;
            justify-content: center;
            height: 100vh;
            flex-direction: inherit;
            position: relative;
            padding-top: 190px;">
            <div class="fm-forget-pass">
                <h1>Reset my password</h1>


                <br /><br />
                <form method="post" action="#">
                    <div class="newPass">
                        <div>
                            <label class="newPass">New Password</label>
                            <input style="height: 50px;" type="text" class="form-control" name="email" size="30"
                                placeholder="Enter your new password">
                        </div>
                        <br />

                        <div>
                            <label class="confirmPass">Confirm Password</label>
                            <input style="height: 50px;" type="text" class="form-control" name="email" size="30"
                                placeholder="Enter your new password">
                        </div>



                        <button class="reset">Reset</button>
                    </div>
                </form>

                <div class="proceeding">
                    <span><span>By proceeding, I agree to </span>
                        <br class="responsive" />
                        <button class="agreement"><b><u>Terms & Conditions</u></b></button>,
                        <button class="agreement"><b><u>Community Guildelines</u></b></button>,
                        <button class="agreement"><b><u>Privacy Policy</u></b></button></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}