<div>
    <div style="display: flex; flex-direction: column;">
        <div style="display: flex;">
            <div style="width: 100%; max-width: 250px; margin-top: 30px; padding-right: 30px;">
                <div style="border:1px solid #cfd0d6; padding: 0 20px; font-size: 15px;">
                    <ul class="nav nav-links nav-pills nav-sidebar" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li>
                            <a href="#">
                                <span class="link_name">My Tasks</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="link_name">Chat</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="link_name">Wishlist</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="link_name">Notifications</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="link_name">Payment History</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="link_name">Setting</span>
                            </a>
                            <i class='bx bxs-chevron-down arrow'></i>
                            <ul class="sub-menu showMenu">
                                <li><a href="{% 'edit_profile' %}">Edit Profile</a></li>
                                <li><a href="#">Change Password</a></li>
                                <li><a href="#">Membership Plan</a></li>
                                <li><a href="#">Payment Method</a></li>
                            </ul>
                        </li>


                    </ul>
                </div>
            </div>

           
        </div>

    </div>
</div>