{% extends 'isit950/account_layout.html' %}

{% block body %}

<div style="width: 100%; overflow: hidden; position: relative; top: -100px; ">
    
    <div>
        <h1 style="position: relative;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 51px;
        text-align: center;
        
        color: #000000;">Membership</h1>
        <h2 style="position: relative;
        
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        
        color: #000000;">Get membership today</h2>
    </div>
    <div class="membershipPlan-overlay" >
        <div style="width: 100%">
            <form action="http://library.whosville/bsearch" method="get">
                <div class="plan">
                    <label for="plan">Select your plan</label></br>
                
            
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                    Package 1
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                    Packdage 2
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                    <label class="form-check-label" for="exampleRadios3">
                    Packdage 3
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                    <label class="form-check-label" for="exampleRadios3">
                    Pay on demand/Skip Membership
                    </label>
                </div>
        
                <div class="information">
                    <label for="information">Payment Information</label></br>
                    <input type="text" name="information" id="information" class="form-control" placeholder="username@gmail.com"/>
                </div>
                
                

                <div class="pay">
                    <label for="pay"> Pay with</label></br>
                    <label>
                        <input type="radio" name="pay" value="cash">
                        Cash
                    </label>
                    <label>
                        <input type="radio" name="pay" value="card">
                        Card
                    </label>
                    <label>
                        <input type="radio" name="pay" value="Transfer">
                        Transfer
                    </label>
                </div>
                <div class="" style="display: flex;align-items: end;">
                    <div style="
    width: 100%;
">
                        <label for="card"> Card number</label><br>
                        <input type="text" name="card" id="card" class="form-control" placeholder="1234 1234 1234 1234">
                    </div>
                    <div style="
    width: 50%;
    margin-left: 10px;
">
                        <img src="/static/images/Visa.png" alt="" width="50">
                    
                        <img src="/static/images/Mastercard.png" alt="" width="50">

                        <img src="/static/images/Amex.png" alt="" width="50">
                    </div>
                </div>
                <div class="expiry">
                    <label for="expiry"> Expiry</label></br>
                    <input type="text" name="expiry" id="expiry" class="form-control" placeholder="MM/YY"/>
                </div>
                    <div class="cvc">
                        <label for="cvc"> CVC</label>
                        <input type="text" name="cvc" id="cvc" class="form-control" placeholder="123"/>
                    </div>
                    
                
                
                <div>
                    <label for="Country">Country</label></br>
                    
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select Country name</option>
                        <option value="1">Australia</option>
                        <option value="2">United States Of America</option>
                        <option value="3">Malasiya</option>
                        <option value="4">China</option>
                        <option value="5">South Korea</option>
                        <option value="6">Honkong</option>
                      </select>
                    
                </div>


                <div class="start">
                    <span>
                        <button type="button" class="btn btn-outline-secondary">Start</button>
                    </span>
                </div>
            </form>

        </div>
        
        <div style="box-sizing: border-box;

        position: relative;
        width:55%;
        height: 428px;
        margin-left: 10px;
       
        
        border: 1px solid #D9D9D9;">
            <div class="description-box">
                <h2 class="included">What's included on membership?</h2>
                <input type="text" name="description-box">
            </div>
            
        </div>
    </div>
</div>
    
{% endblock %}