{% extends 'isit950/account_layout.html' %}
{% load parse_date %}
{% block body %}
<div style="width: 100%; overflow: hidden; position: relative; top: -100px;">
    <div style="border: 1px solid #e3e3e3; border-radius: 10px;">
        <div
            style="padding: 10px 20px; border-bottom: 1px solid #e3e3e3; font-size: 1.2rem; font-weight: 700">
            <span style="margin-right: 10px;">Wishlist</span>
            <i class="fa-regular fa-heart"></i>
        </div>
        <div class="wishlist-overlay" style="display: flex; padding: 20px 30px; height: auto; justify-content: space-between;">
            <div>
                <div style="display: flex; flex-direction: row;">
                    <div class="task-l-content" style="width: 350px;">
                        <div class="task-header mb10">
                            <span>Replace a new curtain</span>
                        </div>
                        <div class="task-flex-align task-location">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px"
                                viewBox="0 0 32.000000 32.000000" preserveAspectRatio="xMidYMid meet">
                                <g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)"
                                    fill="#000" stroke="none">
                                    <path
                                        d="M114 311 c-12 -5 -31 -22 -44 -38 -40 -51 -14 -144 71 -253 l19 -25 19 25 c50 63 84 133 89 179 4 42 1 52 -24 80 -31 35 -90 49 -130 32z m105 -37 c47 -39 43 -90 -11 -177 -24 -37 -45 -67 -48 -67 -3 0 -24 30 -48 67 -54 87 -58 138 -11 177 39 33 79 33 118 0z" />
                                    <path
                                        d="M115 236 c-30 -45 13 -98 66 -81 55 18 38 105 -21 105 -20 0 -35 -8 -45 -24z m76 -12 c17 -21 0 -49 -31 -49 -31 0 -48 28 -31 49 8 9 21 16 31 16 10 0 23 -7 31 -16z" />
                                </g>
                            </svg>
                            <span>Fairy Meadow, NSW</span>
                        </div>
                        <div class="task-flex-align task-duetime">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px"
                                viewBox="0 0 32.000000 32.000000" preserveAspectRatio="xMidYMid meet">
                                <g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)"
                                    fill="#000" stroke="none">
                                    <path
                                        d="M88 289 c-43 -22 -78 -81 -78 -129 0 -76 74 -150 150 -150 76 0 150 74 150 150 0 50 -35 107 -80 130 -49 25 -94 25 -142 -1z m65 -11 c4 -10 7 -10 14 0 12 16 73 -4 73 -24 0 -8 6 -14 14 -14 20 0 40 -61 24 -72 -11 -6 -11 -10 0 -16 16 -11 -4 -72 -24 -72 -8 0 -14 -6 -14 -14 0 -20 -61 -40 -72 -24 -6 11 -10 11 -16 0 -11 -16 -72 4 -72 24 0 8 -6 14 -14 14 -20 0 -40 61 -24 72 11 6 11 10 0 16 -16 11 4 72 24 72 8 0 14 6 14 14 0 8 12 19 28 24 37 14 40 14 45 0z" />
                                    <path
                                        d="M150 192 c0 -28 7 -45 25 -62 31 -29 46 -18 17 13 -13 14 -22 36 -22 55 0 18 -4 32 -10 32 -5 0 -10 -17 -10 -38z" />
                                </g>
                            </svg>
                            <span>10 April 2023</span>
                        </div>
                    </div>
                    <div style="width: 100px; margin-left: 20px;">
                        <div style="display: flex; flex-direction: column;">
                            <div>
                                <span>$200</span>
                                <span class="bookmark" data-id="{{task.id}}" style="margin-left: 10px;">
                                    <i class="fa fa-heart bookmarked"></i>
                                </span>
                            </div>    
                            <div style="margin-top: 15px;">
                                <img width="60" class="tasker-profile" src="/static/images/profiles/Conan.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: space-evenly;">
                <div style="text-align: center;font-size: 14px;">Open</div>

                <a href="/create_task" class="button" style="display: block;margin: 0 auto;background: #9162b42b;width: 70px;padding: 5px 0;font-weight: 500;color: #272727;">Apply</a>
            </div>
        </div>
        <div class="wishlist-overlay" style="display: flex; padding: 20px 30px; height: auto; justify-content: space-between;">
            <div>
                <div style="display: flex; flex-direction: row;">
                    <div class="task-l-content" style="width: 350px;">
                        <div class="task-header mb10">
                            <span>Move a sofa </span>
                        </div>
                        <div class="task-flex-align task-location">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px"
                                viewBox="0 0 32.000000 32.000000" preserveAspectRatio="xMidYMid meet">
                                <g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)"
                                    fill="#000" stroke="none">
                                    <path
                                        d="M114 311 c-12 -5 -31 -22 -44 -38 -40 -51 -14 -144 71 -253 l19 -25 19 25 c50 63 84 133 89 179 4 42 1 52 -24 80 -31 35 -90 49 -130 32z m105 -37 c47 -39 43 -90 -11 -177 -24 -37 -45 -67 -48 -67 -3 0 -24 30 -48 67 -54 87 -58 138 -11 177 39 33 79 33 118 0z" />
                                    <path
                                        d="M115 236 c-30 -45 13 -98 66 -81 55 18 38 105 -21 105 -20 0 -35 -8 -45 -24z m76 -12 c17 -21 0 -49 -31 -49 -31 0 -48 28 -31 49 8 9 21 16 31 16 10 0 23 -7 31 -16z" />
                                </g>
                            </svg>
                            <span>Wollongong, NSW</span>
                        </div>
                        <div class="task-flex-align task-duetime">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px"
                                viewBox="0 0 32.000000 32.000000" preserveAspectRatio="xMidYMid meet">
                                <g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)"
                                    fill="#000" stroke="none">
                                    <path
                                        d="M88 289 c-43 -22 -78 -81 -78 -129 0 -76 74 -150 150 -150 76 0 150 74 150 150 0 50 -35 107 -80 130 -49 25 -94 25 -142 -1z m65 -11 c4 -10 7 -10 14 0 12 16 73 -4 73 -24 0 -8 6 -14 14 -14 20 0 40 -61 24 -72 -11 -6 -11 -10 0 -16 16 -11 -4 -72 -24 -72 -8 0 -14 -6 -14 -14 0 -20 -61 -40 -72 -24 -6 11 -10 11 -16 0 -11 -16 -72 4 -72 24 0 8 -6 14 -14 14 -20 0 -40 61 -24 72 11 6 11 10 0 16 -16 11 4 72 24 72 8 0 14 6 14 14 0 8 12 19 28 24 37 14 40 14 45 0z" />
                                    <path
                                        d="M150 192 c0 -28 7 -45 25 -62 31 -29 46 -18 17 13 -13 14 -22 36 -22 55 0 18 -4 32 -10 32 -5 0 -10 -17 -10 -38z" />
                                </g>
                            </svg>
                            <span>10 April 2023</span>
                        </div>
                    </div>
                    <div style="width: 100px; margin-left: 20px;">
                        <div style="display: flex; flex-direction: column;">
                            <div>
                                <span>$120</span>
                                <span class="bookmark" data-id="{{task.id}}" style="margin-left: 10px;">
                                    <i class="fa fa-heart bookmarked"></i>
                                </span>
                            </div>    
                            <div style="margin-top: 15px;">
                                <img width="60" class="tasker-profile" src="/static/images/profiles/Janet.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: space-evenly;">
                <div style="text-align: center;font-size: 14px;">Open</div>

                <a href="/create_task" class="button" style="display: block;margin: 0 auto;background: #9162b42b;width: 70px;padding: 5px 0;font-weight: 500;color: #272727;">Apply</a>
            </div>
        </div>
        <div class="wishlist-overlay" style="display: flex; padding: 20px 30px; height: auto; justify-content: space-between;">
            <div>
                <div style="display: flex; flex-direction: row;">
                    <div class="task-l-content" style="width: 350px;">
                        <div class="task-header mb10">
                            <span>Data entry</span>
                        </div>
                        <div class="task-flex-align task-location">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px"
                                viewBox="0 0 32.000000 32.000000" preserveAspectRatio="xMidYMid meet">
                                <g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)"
                                    fill="#000" stroke="none">
                                    <path
                                        d="M114 311 c-12 -5 -31 -22 -44 -38 -40 -51 -14 -144 71 -253 l19 -25 19 25 c50 63 84 133 89 179 4 42 1 52 -24 80 -31 35 -90 49 -130 32z m105 -37 c47 -39 43 -90 -11 -177 -24 -37 -45 -67 -48 -67 -3 0 -24 30 -48 67 -54 87 -58 138 -11 177 39 33 79 33 118 0z" />
                                    <path
                                        d="M115 236 c-30 -45 13 -98 66 -81 55 18 38 105 -21 105 -20 0 -35 -8 -45 -24z m76 -12 c17 -21 0 -49 -31 -49 -31 0 -48 28 -31 49 8 9 21 16 31 16 10 0 23 -7 31 -16z" />
                                </g>
                            </svg>
                            <span>Sydney, NSW</span>
                        </div>
                        <div class="task-flex-align task-duetime">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px"
                                viewBox="0 0 32.000000 32.000000" preserveAspectRatio="xMidYMid meet">
                                <g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)"
                                    fill="#000" stroke="none">
                                    <path
                                        d="M88 289 c-43 -22 -78 -81 -78 -129 0 -76 74 -150 150 -150 76 0 150 74 150 150 0 50 -35 107 -80 130 -49 25 -94 25 -142 -1z m65 -11 c4 -10 7 -10 14 0 12 16 73 -4 73 -24 0 -8 6 -14 14 -14 20 0 40 -61 24 -72 -11 -6 -11 -10 0 -16 16 -11 -4 -72 -24 -72 -8 0 -14 -6 -14 -14 0 -20 -61 -40 -72 -24 -6 11 -10 11 -16 0 -11 -16 -72 4 -72 24 0 8 -6 14 -14 14 -20 0 -40 61 -24 72 11 6 11 10 0 16 -16 11 4 72 24 72 8 0 14 6 14 14 0 8 12 19 28 24 37 14 40 14 45 0z" />
                                    <path
                                        d="M150 192 c0 -28 7 -45 25 -62 31 -29 46 -18 17 13 -13 14 -22 36 -22 55 0 18 -4 32 -10 32 -5 0 -10 -17 -10 -38z" />
                                </g>
                            </svg>
                            <span>10 April 2023</span>
                        </div>
                    </div>
                    <div style="width: 100px; margin-left: 20px;">
                        <div style="display: flex; flex-direction: column;">
                            <div>
                                <span>$200</span>
                                <span class="bookmark" data-id="{{task.id}}" style="margin-left: 10px;">
                                    <i class="fa fa-heart bookmarked"></i>
                                </span>
                            </div>    
                            <div style="margin-top: 15px;">
                                <img width="60" class="tasker-profile" src="/static/images/profiles/Hansel.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: space-evenly;">
                <div style="text-align: center;font-size: 14px;">Assigned</div>

                <a href="/create_task" class="button" style="display: block;margin: 0 auto;background: #9162b42b;width: 70px;padding: 5px 0;font-weight: 500;color: #272727;">Apply</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}