{% extends 'isit950/layout.html' %}

{% block body %}

<div class="container">
    <div>
        <div>
            <div>Get membership today</div>
        </div>
        <form action="{% url 'membership' %}" method="post">
            {% csrf_token %}
            <div style="display: flex">
                <div>
                    <div>Select your plan</div>
                    <div>
                        <div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="1" name="member_package" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Package 1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="2" name="member_package">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Package 2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="3" name="member_package">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Package 3
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>Payment Information</div>
                        <div>
                            <div class="mb-4">
                                <label for="cardNo" class="form-label handy-f-14">Card Number</label>
                                <input type="text" class="form-control handy-f-14" id="cardNo" name="credit_card"
                                    placeholder="1234 1234 1234 1234" style="padding: 10px 10px;" maxlength="19">
                            </div>
                            <div class="form-row mb-3">
                                <div class="col-md-6" style="padding-left: 0">
                                    <div class="position-relative form-group">
                                        <label for="expiryDate" class="handy-f-14">Expiry Date</label>
                                        <input id="expiryDate" name="expiryDate" placeholder="MM/YY" type="text"
                                            class="form-control handy-f-14" maxlength="5">
                                    </div>
                                </div>
                                <div class="col-md-6" style="padding: 0">
                                    <div class="position-relative form-group">
                                        <label for="cvc" class="handy-f-14">CVC</label>
                                        <input id="cvc" name="cvc" placeholder="CVC" type="text"
                                            class="form-control handy-f-14" maxlength="3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            What's included in membership:
                        </div>
                        <div>

                        </div>
                    </div>
                </div>

            </div>
            <div style="display: flex; justify-content: center; padding: 3rem 0;">
                <button class="button btnsave-primary btn-membership">Get your membership</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}