{% include 'isit950/layout.html' %}

{% block body %}
{% load parse_date %}

<div class="container">
    <h3>Task Detail</h3>
    <div id="mydiv">
        
        <div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ myTaskDetail.task_title }}</h5>
                    <p class="card-text">{{ myTaskDetail.description | safe | linebreaks  }}</p>
                    <p class="card-text">{{ myTaskDetail.price }}</p>
                    <p>${{ myTaskDetail.location }}</p>
                    <p>{{ myTaskDetail.completed_on }}</p>
                </div>
            </div>
        </div>

        <div>
            {% if myTaskDetail.status == 0 %}
                <div style="display: flex;" class="mb-3">
                    <h7>Offer ({{ offers | length }})</h7>
                    <h7>Questions ({{questions}})</h7>
                </div>
                <div>
                    <div id=""></div>
                    {% if offers %}
                        {% for offer in offers %}
                        <div class="card mb-3 offer-card">
                            <div class="card-body">
                                <div class="offer-title">{{offer.user_provider}}</div>
                                
                                <span>{{offer.price}}</span>
                                <span>{{offer.description}}</span>
                                <span>{{offer.create_date | date:'m-d-Y H:i A'}}</span>
                                <img class="tasker-profile pos-abs" src="">
                                <p class="card-text">tes</p>
                                {{ offer.user.img_profile }}
                                <a href="{% url 'select_tasker' offer.task_title_to_url offer.user %}" class="btn btn-primary">Accept</a>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <span>You have no offer from Service Provider</span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div>
                    <span>Tasker is chosen:</span>

                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}